﻿body {
    background: #bebebe;
}


h1{
    text-align:center;

}

.form-group{
 background:#ffffff;
 border-bottom-left-radius:8px;
 border-bottom-right-radius:8px;
 border-top-left-radius:8px;
 border-top-right-radius:8px;

}

